* {
  font-size: 18px;
  line-height: 22px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  a img {
    margin-bottom: 63px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    box-sizing: border-box;
    border-top: none;
    border-radius: 10px;
    margin-bottom: 30px;

    box-sizing: border-box;

    .login-type {
      display: flex;
      justify-items: center;
      align-content: center;
      font-weight: 500px;
      transform: translateY(18px);
      max-height: 80px;

      #buyer,
      #seller {
        align-content: center;
        border: 1px solid #c4c4c4;
        padding: 20px 78px 38px 77px;
        border-radius: 10px 10px 0px 0px;
        max-width: 275px;
        white-space: nowrap;
      }
      #buyer {
        border-bottom: none;
        position: relative;
        z-index: 1000;
        background-color: white;
      }
      #seller {
        background-color: #f2f2f2;
        position: relative;
        z-index: -1;
      }
    }

    .idpw {
      padding-top: 34px;
      border: 1px solid #c4c4c4;
      border-radius: 10px;
      box-sizing: border-box;
      max-width: 550px;

      position: relative;
      z-index: 100;
      background-color: white;
      #id,
      #password {
        margin-left: 35px;
        border: none;
        width: 480px;
        height: 60px;
        border-bottom: solid 1px gray;
      }

      #login {
        padding: 19px 215px;
        margin: 36px 35px;
        border-radius: 5px;
        border: none;
        background-color: #21bf48;
        font-weight: bold;
        color: white;
      }
    }
  }
  .account_info {
    font-size: 16px;
    font-weight: 400;
    span {
      margin-left: 14px;
      margin-right: 14px;
    }
  }
}
